<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Vault &amp; Edge needs access to your photo library to import and analyze skating and gymnastics videos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Vault &amp; Edge needs permission to save annotated videos to your library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFPRODISPLAYBLACKITALIC.OTF</string>
		<string>SFPRODISPLAYBOLD.OTF</string>
		<string>SFPRODISPLAYHEAVYITALIC.OTF</string>
		<string>SFPRODISPLAYLIGHTITALIC.OTF</string>
		<string>SFPRODISPLAYMEDIUM.OTF</string>
		<string>SFPRODISPLAYREGULAR.OTF</string>
		<string>SFPRODISPLAYSEMIBOLDITALIC.OTF</string>
		<string>SFPRODISPLAYTHINITALIC.OTF</string>
		<string>SFPRODISPLAYULTRALIGHTITALIC.OTF</string>
		<string>Sharpie-Black.otf</string>
		<string>Sharpie-Bold.otf</string>
		<string>Sharpie-Extrabold.otf</string>
		<string>Sharpie-Light.otf</string>
		<string>Sharpie-Regular.otf</string>
		<string>DMSans-VariableFont_opsz,wght.ttf</string>
		<string>DMSans-Italic-VariableFont_opsz,wght.ttf</string>
	</array>
</dict>
</plist>
